<div class="card">
  <div class="card__title">
    <p>{{ object.name }}</p>
    <span [routerLink]="['/', object.id]" (click)="onClick.emit()"></span>
  </div>
  <div class="card__information">
    <div class="control">
      <div class="control__key">Тип</div>
      <div class="control__value">{{ object.type }}</div>
    </div>
    <div class="control">
      <div class="control__key">Порт</div>
      <div class="control__value">{{ object.home_port }}</div>
    </div>
    <div class="control">
      <div class="control__key">Количество миссий</div>
      <div class="control__value">{{ object.missions.length }}</div>
    </div>
  </div>
</div>
