.card {
  padding-bottom: 30px;
  margin-top: 40px;
  border-bottom: 1px solid #a5a5a5;
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: rgba(0, 0, 0, 0.87);
    }
    span {
      display: block;
      width: 16px;
      cursor: pointer;
      height: 16px;
      background-image: url("../../assets/images/icons//arrow.png");
      background-repeat: no-repeat;
      background-size: 100%;
      margin: -2px 0 0 23px;
      transition: transform 0.1s ease-in;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__information {
    display: flex;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 425px 425px 425px;

    .control {
      display: flex;
      align-items: center;
      &__key {
        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.87);
      }
      &__value {
        margin-left: 105px;
        font-size: 16px;
        line-height: 24px;
        color: #2962ff;
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card {
    &__information {
      display: flex;
      .control {
        flex: 0 0 425px;
      }
    }
  }
}
