body, html {
    margin: 0;
    padding: 0;
    font-family: Arial sans-serif;
    font-size: 16px;
    height: 100%;
    box-sizing: border-box;
}
.wrapper {
    position: relative;
    min-height: 100%;
}
.header {
    background-color: #3f3fd4;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.body__nav {
    background-color: #e2970e;
}

.body__aside {
    background-color: #7625a7;
}

.body__nav, .body__aside, .body__main  {
    padding: 20px;
}

.footer {
    background-color: #67960b;
    color: white;
    text-align: center;
    padding: 20px 0;
}
