<div class="wrapper">
  <div class="pagination">
    <div
      class="arrow"
      (click)="decrement()"
      [ngClass]="{ disabled: page === 1 }"
    >
      <svg
        x="0px"
        y="0px"
        width="306px"
        height="306px"
        viewBox="0 0 306 306"
        style="enable-background: new 0 0 306 306"
      >
        <g>
          <polygon
            points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153 		"
          />
        </g>
      </svg>
    </div>
    <div class="value">{{ page }}</div>
    <div
      class="arrow"
      (click)="increment()"
      [ngClass]="{
        disabled: itemPerPage * (page + 1) - maximum > itemPerPage
      }"
    >
      <svg
        x="0px"
        y="0px"
        width="306px"
        height="306px"
        viewBox="0 0 306 306"
        style="enable-background: new 0 0 306 306"
      >
        <g>
          <polygon
            points="94.35,0 58.65,35.7 175.95,153 58.65,270.3 94.35,306 247.35,153 		"
          />
        </g>
      </svg>
    </div>
  </div>
</div>
