<div class="footer">
  <ul class="footer__list">
    <li>
      <a href="https://twitter.com/" target="_blank">
        <img
          src="../../../../assets/image/icons/004-twitter.svg"
          alt="twitter"
        />
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.ru/" target="_blank">
        <img
          src="../../../../assets/image/icons/001-pinterest.svg"
          alt="pinterest"
        />
      </a>
    </li>
    <li>
      <a href="https://ru-ru.facebook.com/" target="_blank">
        <img
          src="../../../../assets/image/icons/002-facebook-logo.svg"
          alt="facebook"
        />
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/" target="_blank">
        <img
          src="../../../../assets/image/icons/005-instagram.svg"
          alt="instagram"
        />
      </a>
    </li>
    <li>
      <a href="https://www.tumblr.com/" target="_blank">
        <img
          src="../../../../assets/image/icons/003-tumblr.svg"
          alt="twtumblritter"
        />
      </a>
    </li>
  </ul>
  <div class="footer__text">
    <span>Create</span>
    <span>Live</span>
    <span>Go</span>
  </div>
</div>
